#container {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: #eee;

    display: flex;
    flex-direction: column;
    overflow: scroll;

    
}

#navi {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    flex: 1;
    height: auto;

    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#navi div {
    flex: 1;
    height: 100%;
    background-color: white;
    margin: 4px;
    box-shadow:
        rgb(0 0 0 / 20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px,
        rgb(0 0 0 / 12%) 0px 1px 3px 0px;

    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}




#contentArea {
    flex: 8;
    margin: 0;
    padding: 0;
    height: 60%;
    z-index: 1;

}


#contentArea .imgCon {
    float: left;
    padding: 5px;
    width: 25%;
    border: 1px solid #000;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contentArea .imgCon:hover {
    color: blue;
    z-index: 300;
}

#contentArea .imgCon img {
    width: 100%;
    z-index: 1;
}




@media(max-width: 600px) {}